<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adivina el número</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,600" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body>
    <partial src="_game.html"></partial>
    <partial src="_counter-spinner.html"></partial>
    <partial src="_frog.html"></partial>
    <audio class="music" src="assets/audio/frog sound effect.mp3" loop></audio>
    <script src="assets/js/main.js"></script>
  </body>
</html>
