<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ejercicio de evaluación intermedia</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <h1>Adivina el número</h1>
  <label for="test-number">Introduce aquí tu número</label>
  <input class="test__number" name="test-number" type="text">
  <button class="test__btn">Prueba</button>
  <div class="test__feedback">Escribe un número y dale a <i>Prueba</i></div>
  <div class="test__counter"></div>
 
<script src="assets/js/main.js"></script>
</body>
</html>
