
  
  .spinner {
    box-sizing: border-box;
    border: solid .75em transparent;
    background: 50%/cover
    padding-box;
  }
  .spinner, .spinner:before {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 29px;
    right: 29px;
    border-radius: 50%;
  }
  .spinner:before {
    z-index: -1;
    background: -webkit-gradient(linear,right bottom,left top,from($colorLemon),to($colorPomegranate));
    background: linear-gradient(to top left,$colorLemon,$colorPomegranate);
    animation: r 2s linear infinite;
    content: '';
  }
  
  @keyframes r {
    to {
      transform: rotate(1turn);
    }
  }