body {
	background: #a8efa8;
}

#frog circle, path, line {
	fill: none;
	stroke: #14aa14;
	stroke-width: 5px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.svg-frog {
	position: absolute;
	top: 80%;
	left: 50%;
	margin: -125px 0px 0px -125px;
	width: 250px;
	height: 250px;
	cursor: pointer;
}