body {
	background: $colorBanana;
}

#frog circle, path, line {
	fill: none;
	stroke: $colorLemon;
	stroke-width: 5px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.svg-frog {
	position: absolute;
	top: 82%;
	left: 50%;
	margin: -125px 0px 0px -125px;
	width: 250px;
	height: 250px;
	cursor: pointer;
	&__jumping{
		animation-name: jump;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
	}   
	@keyframes jump{
		from {
		  transform: translateY(10%);
		}
		to {
		  transform: translateY(-10%);
		}
	}
}

