body {
	background: $colorBanana;
}

#frog circle, path, line {
	fill: none;
	stroke: $colorLemon;
	stroke-width: 5px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.svg-frog {
	position: fixed;
	bottom: 0px;
	margin: -125px 0px 0px -125px;
	width: 250px;
	height: 250px;
	cursor: pointer;
	&__jumping{
		animation-name: jump;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}   
	@keyframes jump{
		from {
		  transform: translateY(10%);
		}
		to {
		  transform: translateY(-10%);
		}
	}
	@media all and (min-width:768px){
    bottom: 0px;
		left: 50%;
		width: 250px;
		height: 250px;
    }
}

