body {
    min-height: 100vh;
    max-width: 780px;
    text-align: center;
    color: $colorSea;
    font-family: barlow;
    padding: 100px;
    margin: auto;
}

.title{
    font-size: 60px;
    color: $colorPomegranate;
    margin-bottom: 50px; 
}

.test__number{
    width: 60px;
    height: 40px;
    font-size: 40px;
    color: $colorStrawberry;
    border: 1px $colorLemon solid;
    margin-bottom: 50px;

}

.test__number-label{
    font-size: 40px;
    max-width: 200px;
}

.test__btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: $colorLemon;
    color: $colorStrawberry;
    font-size: 24px;
}

.test__feedback{
    font-size: 35px;
    color: $colorWater;
}

.test__counter{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top: 80px;
    right: 80px;
    border-radius: 50%;
    background-color: $colorBanana;
    font-size: 35px;
    color: $colorSea;
}